<!DOCKTYPE html>
<html lan="en">
   <title>{{ webpage_title }}</title>
</head>
<body>
{% if api_call == 'post' %}
<form name="search" action="." method='{{ api_call }}'>
  <label>{{ key_1 }}:</label>
    <input type="text" name="{{ key_1 }}">
  <label>{{ key_2 }}:</label>
     <input type="text" name="{{ key_2 }}">
  <label>{{ key_3 }}:</label>
     <input type="text" name="{{ key_3 }}">
  <input type="{{ action }}" name="{{ action }}">
{% endif %}
</form>
</body>
</html>

